<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
                <div>
                    <a href="./login" class="text-gray-600 hover:text-gray-800 px-4">Login</a>
                    <a href="./signup" class="text-gray-600 hover:text-gray-800">signup</a>
                </div>
    <div class="flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded shadow-md w-80">
            <h2 class="text-2xl font-bold mb-4 text-center">signup</h2>
            <form action="/signup" method="post">
                <div class="mb-4">
                    <label for="name" class="block mb-1">Name</label>
                    <input type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off" class="w-full p-2 border border-gray-300 rounded">
                </div>
                <div class="mb-4">
                    <label for="password" class="block mb-1">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required class="w-full p-2 border border-gray-300 rounded">
                </div>
                <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition duration-200">Signup</button>
            </form>
         
        </div>
    </div>
</body>
</html>
